<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582683036276-lppjiquv0eie0mv3unqdahi60dpheiv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582683036276-lppjiquv0eie0mv3unqdahi60dpheiv7</string>
	<key>API_KEY</key>
	<string>AIzaSyDtd5y6a0AcuS_KCEqacPNrZ-0PjZXFJDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582683036276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.ios.CatsAndModules-SerhiiHryhorenko</string>
	<key>PROJECT_ID</key>
	<string>cats-and-modules</string>
	<key>STORAGE_BUCKET</key>
	<string>cats-and-modules.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582683036276:ios:3ea4fc2550574f52c29f21</string>
</dict>
</plist>